<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中实交易-进项票批量录入列表</title>
    <script src="../lib/jquery.1.11.3.min.js"></script>
    <script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel='stylesheet' href="../css/wu/reset.css">
    <link rel="stylesheet" href="../css/wu/common.css">
    <link rel="stylesheet" href="../css/wu/b-common.css">
    <link rel="stylesheet" href="../css/wu/income-ticket-batchenter.css">
    <script src="../lib/vue.js"></script>
    <script src="https://cdn.bootcss.com/babel-polyfill/7.2.5/polyfill.js"></script>
    <script src="../lib/axios.js"></script>
    
    <link rel="stylesheet" href="../lib/elementui/theme-chalk/index.css">
    <script src="../lib/elementui/index.js"></script>
</head>

<body>
    <div id="app">
        <!--&lt;!&ndash; 上 &ndash;&gt;-->
        <!--<div class="nav-header">-->

        <!--</div>-->

        <div class="container">
            <!--&lt;!&ndash; 左 &ndash;&gt;-->
            <!--<div class="nav-left" v-cloak>-->
                <!--<p><a href="../Salesman/y_sales_review_list.html">销项票审核</a></p>-->
                <!--<p><a href="./b-income-ticket-examinelist.html">进项票审核</a></p>-->
                <!--<p><a href="../Salesman/b-income-ticket-waitDealInvoice.html">待处理票据</a></p>-->
                <!--<p><a href="./b-income-ticket-waitenter.html">进项票录入</a></p>-->
                <!--<p><a href="./InvoiceManagementSalesmanQuery.html">发票查询</a></p>-->
                <!--<p><a href="../Salesman/InvoiceManagementCustomerInformation.html">客户资料</a></p>-->
            <!--</div>-->

            <!-- 右 -->
            <div class="nav-right">
                <div class="flex-sb-center">
                    <div class="tab-btn">
                        <span></span><span>进项票批量录入列表</span><span></span>
                    </div>
                    <div class="operator-btn">
                        <button class="o-btn submit-btn" @click="submit(1)">提交</button>
                        <button class="o-btn save-btn" @click="submit(2)">保存</button>
                        <button class="o-btn back-btn" @click="back">返回</button>
                    </div>
                </div>

                <div class="form-box">
                    <form role="form" class="flex-start-center">
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">来票单位:</span>
                            <input type="text" class="form-control" v-model="batchInfo.inCompany" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">发票类型:</span>
                            <input type="text" class="form-control" v-model="batchInfo.billPaperType" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item percent">
                            <span class="label-item">税率:</span>
                            <input type="text" class="form-control" v-model="batchInfo.taxRate" disabled>
                            <em>%</em>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">开票时间:</span>
                            <input type="text" class="form-control" v-model="batchInfo.billCreateDate" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">发票编号:</span>
                            <input type="text" class="form-control" v-model="batchInfo.billCode" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">发票总额:</span>
                            <input type="text" class="form-control" v-model="batchInfo.billMoney" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">开户银行:</span>
                            <input type="text" class="form-control" v-model="batchInfo.openBank" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">银行账号:</span>
                            <input type="text" class="form-control" v-model="batchInfo.openAccount" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">纳税人识别号:</span>
                            <input type="text" class="form-control" v-model="batchInfo.taxpayerCode" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">来票地址:</span>
                            <input type="text" class="form-control" v-model="batchInfo.lpAddress" disabled>
                        </div>
                        <div class="form-group flex-sb-center form-item">
                            <span class="label-item">联系电话:</span>
                            <input type="text" class="form-control" v-model="batchInfo.phone" disabled>
                        </div>
                    </form>
                </div>

                <!-- table -->
                <div class="table-box">
                    <div class="btn-items">
                        <div class="flex-sb-center">
                            <div class="operator-btn">
                                <button class="o-btn neworder-btn plr15" @click='addGoods'>新增合同商品</button>
                                <button class="o-btn submit-btn plr15" @click='addInvoice'>新增发票</button>
                            </div>
                            <div style="width: 30%">
                                <div class="form-group flex-sb-center">
                                    <span class="label-item">应开进项票据总额:</span>
                                    <input type="text" class="form-control" disabled v-model="allMoney">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%; overflow: auto;">
                        <div> 
                            <div class="table-content-box flex-sb-center-nowrap">
                                <div>
                                    <div class="table-title">采购合同信息</div>
                                    <table class="table table-bordered goods-table">
                                        <thead>
                                            <tr>
                                                <th>操作</th>
                                                <th>采购合同编号</th>
                                                <th>商品名称</th>
                                                <th>批号</th>
                                                <th>规格</th>
                                                <th>待录票重量</th>
                                                <th>入库单价</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr v-for="(item, index) in goodsList" :key="index" :class="[item.isSelect?'isSelect':'']" @click = "selectItem(item)" v-cloak>
                                                <td v-if="item.contractNumber"><a @click="delItem(item)"><span class="glyphicon glyphicon-remove"></span></td>
                                                <td v-if="item.contractNumber">{{item.contractNumber}}</td>
                                                <td v-if="item.contractNumber">{{item.name}}</td>
                                                <td v-if="item.contractNumber">{{item.batch}}</td>
                                                <td v-if="item.contractNumber">{{item.spec}}</td>
                                                <td v-if="item.contractNumber">{{item.outweight}}</td>
                                                <td v-if="item.contractNumber">{{item.price}}</td>
                                                <!-- <td v-if="item.contractNumber">{{item.id}}</td> -->
                                                <!-- <td v-if="!item.contractNumber" style="border: 0"></td>
                                                <td v-if="!item.contractNumber" style="border: 0"></td>
                                                <td v-if="!item.contractNumber" style="border: 0"></td>
                                                <td v-if="!item.contractNumber" style="border: 0"></td>
                                                <td v-if="!item.contractNumber" style="border: 0"></td>
                                                <td v-if="!item.contractNumber" style="border: 0"></td>
                                                <td v-if="!item.contractNumber" style="border: 0"></td>  -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            
                                <div style="width: 39%;">
                                   
                                    <table class="table table-bordered invoice-table" style="border-top: 0">
                                        <tbody>
                                            <tr>
                                                <td style="border: 0;padding: 0;height: 38px;line-height: 38px"></td>
                                                <td colspan = 5  class="table-title" style="padding: 0;height: 38px;line-height: 38px">发票信息</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 0;"></td>
                                                <td>发票编号</td>
                                                <td>商品名称</td>
                                                <td>规格</td>
                                                <td>商品重量(吨)</td>
                                                <td>操作</td>
                                            </tr>
                                            <tr v-for="(item, index) in goodsInvoiceList" :key="index" :class="[item.choose?'isSelect':'']" @click = "selectInvoice(item)" style="cursor: pointer;" v-cloak>
                                                <td v-if="item.invoice" style="border: 0;" @click="match(index)"><img src="../img/pipei.png"></td>
                                                <td v-if="item.invoice">{{item.invoice.billCode}}</td>
                                                <td v-if="item.invoice">{{item.invoice.name}}</td>
                                                <td v-if="item.invoice">{{item.invoice.spec}}</td>
                                                <td v-if="item.invoice">{{item.invoice.goodsWeight}}</td>
                                                <td v-if="item.invoice" @click.stop="delInvItem(index)"><a><span class="glyphicon glyphicon-remove"></span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <script src="../js/wu/qs.js"></script>
    <script src="../js/wu/utils.js"></script>    
    <script src="../js/wu/b-income-ticket-batchenter.js"></script>
    <script src="../lib/elementui/index.js"></script>
</body>

</html>

